<div class="switcher">
  <div class="switcherContainer">
    <div (click)="switchValue()" [class.actived]="!switched">
      <ion-icon name="alert" style="margin-right: 5px;"></ion-icon>
      <span>Alertas</span>
    </div>
    <div style="max-width: 52px;">
      <button (click)="verTodaLaFlota()" ion-fab mini
        style="background-color: white;margin: -13px auto;width: 50px;height: 50px;color:#d93025">
        <ion-icon name="ios-car"></ion-icon>
      </button>
    </div>
    <div (click)="switchValue()" [class.actived]="switched">
      <ion-icon name="ios-funnel" style="margin-right: 5px;"></ion-icon>
      <span>Filtros</span>
    </div>
  </div>
</div>
<div class="switcherMapa">
  <button (click)="switcherMapa()" ion-fab mini
    style="background-color:white;margin: -13px auto;width: 50px;height: 50px;color: gray;">
    <ion-icon name="md-map"></ion-icon>
  </button>
</div>
<ion-content>
  <div class="modalFilter" *ngIf="switched">
    <div *ngIf="filtrosAlertas?.autosEnReposoMovimiento.reposo.length">
      <button ion-fab mini (click)="filtro(filtrosAlertas?.autosEnReposoMovimiento.reposo)"
        style="background-color: #DC552C;">{{filtrosAlertas?.autosEnReposoMovimiento.reposo.length}}</button>
      <span>Reposo</span>
    </div>
    <div *ngIf="filtrosAlertas?.autosEnReposoMovimiento.movimiento.length">
      <button ion-fab mini (click)="filtro(filtrosAlertas?.autosEnReposoMovimiento.movimiento)"
        style="background-color: #018976;">{{filtrosAlertas?.autosEnReposoMovimiento.movimiento.length}}</button>
      <span>Movimiento</span>
    </div>
    <div>
      <button [disabled]="!filtrosAlertas?.autosEncendidosApagados.apagados.length" ion-fab mini
        (click)="filtro(filtrosAlertas?.autosEncendidosApagados.apagados)"
        style="background-color: #fe871e;">{{filtrosAlertas?.autosEncendidosApagados.apagados.length}}</button>
      <span>Apagados</span>
    </div>
    <div>
      <button ion-fab mini [disabled]="!filtrosAlertas?.autosEncendidosApagados.encendidos.length"
        (click)="filtro(filtrosAlertas?.autosEncendidosApagados.encendidos)" color="green"
        id="yellow">{{filtrosAlertas?.autosEncendidosApagados.encendidos.length}}</button>
      <span>Encendidos</span>
    </div>
  </div>

  <div class="modalFilter" *ngIf="!switched">
    <ng-container *ngIf="hayAlertas">
      <div *ngIf="filtrosAlertas?.alertas.vector_baja_bat.length">
        <button (click)="filtro(filtrosAlertas?.alertas.vector_baja_bat)" ion-fab mini
          style="background-color: #b1700f;">
          <!-- <i class="fas fa-battery-quarter"></i> -->
          {{filtrosAlertas?.alertas.vector_baja_bat.length}}
        </button>
        <span>Baja bateria</span>
      </div>
      <div *ngIf="filtrosAlertas?.alertas.vector_sin_reporte.length">
        <button (click)="filtro(filtrosAlertas?.alertas.vector_sin_reporte)" ion-fab mini
          style="background-color: #ff0101;">
          <!-- <i class="material-icons">report_off</i> -->
          {{filtrosAlertas?.alertas.vector_sin_reporte.length}}
        </button>
        <span>Sin reportar</span>

      </div>
      <div *ngIf="filtrosAlertas?.alertas.vector_sin_bat.length">
        <button (click)="filtro(filtrosAlertas?.alertas.vector_sin_bat)" ion-fab mini color="red">
          <!-- <i class="material-icons">battery_unknown</i> -->
          {{filtrosAlertas?.alertas.vector_sin_bat.length}}
        </button>
        <span>Bateria desconectada</span>
      </div>
      <div *ngIf="filtrosAlertas?.alertas.vector_sin_gps.length">
        <button (click)="filtro(filtrosAlertas?.alertas.vector_sin_gps)" ion-fab mini
          style="background-color: #dede00;">
          <!-- <i class="material-icons">gps_off</i> -->
          {{filtrosAlertas?.alertas.vector_sin_gps.length}}
        </button>
        <span>Sin señal GPS</span>
      </div>
      <div *ngIf="filtrosAlertas?.alertas.vector_estado_panico.length">
        <button (click)="filtro(filtrosAlertas?.alertas.vector_estado_panico)" ion-fab mini
          style="background-color: #52267D;">
          {{filtrosAlertas?.alertas.vector_estado_panico.length}}
        </button>
        <span>Panico</span>
      </div>
    </ng-container>
    <ng-container *ngIf="!hayAlertas">
      <p style="font-size: 20px;">No se registraron alertas</p>
    </ng-container>
  </div>
</ion-content>