page-modal {
    .modalFilter {
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-size: 0.7em;
        color: rgba(0, 0, 0, 0.54);
        .fab {
            margin: 6px auto;
        }
        div {
            flex: 1;
        }
    }
    .title {
        color: rgba(0, 0, 0, 0.87);
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        text-transform: none;
        margin: 0;
        padding-top: 10px;
    }
    #yellow {
        color: white;
    }
    .switched {
        transform: translate3d(0, 0, 0) !important;
        transition: transform 0.3s;
    }
    .switchedMapa {
        transform: translate3d(0, 0, 0) !important;
        transition: transform 0.3s;
    }
    .switcher {
        position: absolute;
        top: -31px;
        background-color: #A08945 !important;
        width: 150px;
        height: 30px;
        padding: 5px;
        color: #2E3745;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 20px;
        .switcherContainer {
            width: 100%;
            position: relative;
            display: flex;
            div {
                background: #E9C760;
                width: 84px;
                height: 30px;
                position: absolute;
                border-radius: 20px;
                top: -7px;
                left: -5px;
                transform: translate3d(67px, 0, 0);
                transition: transform 0.3s;
            }
        }
        span {
            flex: 1;
            z-index: 9;
        }
    }
    .switcherMapa {
        position: absolute;
        top: -31px;
        right: 0;
        background-color: #A08945 !important;
        width: 150px;
        height: 30px;
        padding: 5px;
        color: #2E3745;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 20px;
        .switcherContainer {
            width: 100%;
            position: relative;
            display: flex;
            div {
                background: #E9C760;
                width: 84px;
                height: 30px;
                position: absolute;
                border-radius: 20px;
                top: -7px;
                left: -5px;
                transform: translate3d(67px, 0, 0);
                transition: transform 0.3s;
            }
        }
        span {
            flex: 1;
            z-index: 9;
        }
    }
}