<div class="switcher">
  <div class="switcherContainer" (click)="switchValue()">
    <span>Alertas</span>
    <span>Filtros</span>
    <div [class.switched]="switched"></div>
  </div>
</div>
<ion-content>
  <div class="modalFilter" *ngIf="!switched">
    <div>
      <button *ngIf="filtrosAlertas?.autosEnReposoMovimiento.reposo.length" ion-fab mini (click)="filtro(filtrosAlertas?.autosEnReposoMovimiento.reposo)"
        color="red">{{filtrosAlertas?.autosEnReposoMovimiento.reposo.length}}</button>
    </div>
    <div>
      <button *ngIf="filtrosAlertas?.autosEnReposoMovimiento.movimiento.length" ion-fab mini (click)="filtro(filtrosAlertas?.autosEnReposoMovimiento.movimiento)"
        color="red">{{filtrosAlertas?.autosEnReposoMovimiento.movimiento.length}}</button>
    </div>
    <div>
      <button *ngIf="filtrosAlertas?.autosEncendidosApagados.apagados.length" ion-fab mini (click)="filtro(filtrosAlertas?.autosEncendidosApagados.apagados)"
        color="red">{{filtrosAlertas?.autosEncendidosApagados.apagados.length}}</button>
    </div>
    <div>
      <button *ngIf="filtrosAlertas?.autosEncendidosApagados.encendidos" ion-fab mini (click)="filtro(filtrosAlertas?.autosEncendidosApagados.encendidos)"
        color="yellow" id="yellow">{{filtrosAlertas?.autosEncendidosApagados.encendidos.length}}</button>
    </div>
    <div>
      <button (click)="verTodaLaFlota()" ion-fab mini color="green">
        <ion-icon name="ios-car"></ion-icon>
      </button>
    </div>
  </div>
  <div class="modalFilter" *ngIf="switched">
    <div>
      <button (click)="actualizar()" ion-fab mini color="primary">
        <i class="fas fa-battery-quarter"></i>
      </button>
    </div>
    <div>
      <button (click)="actualizar()" ion-fab mini color="primary">
        <i class="material-icons">
          report_off
        </i>
      </button>
    </div>
    <div>
      <button ion-fab mini color="primary">
        <i class="material-icons">
          battery_unknown
        </i>
      </button>
    </div>
    <div>
      <button ion-fab mini color="primary">
        <i class="material-icons">
          gps_off
        </i>
      </button>
    </div>
    <div>
      <button ion-fab mini color="primary">
        Panic
      </button>
    </div>
  </div>
</ion-content>