<ion-header>
  <ion-navbar>
    <ion-searchbar placeholder="Ingrese un dominio" #mainSearchbar (ionInput)="onInput($event.target?.value)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!filterGrupos.length">
    <p class="noValues">No se encontraron resultados.</p>
  </ng-container>
  <ng-container *ngIf="filterGrupos.length">
    <div class="chips">
      <ng-template ngFor let-grupo let-last="last" [ngForOf]="filterGrupos">
        <button ion-button round outline>Ver recorrido</button>
        <!-- <ion-chip>
            <ion-label [style.font-style]="last ? 'italic' : 'normal'">{{grupo.nombre}}</ion-label>
          </ion-chip> -->
      </ng-template>
    </div>
    <ion-item-group>
      <ng-template ngFor let-i="index" let-c="count" let-last="last" let-grupo [ngForOf]="filterGrupos">
        <ion-item-divider color="light" [style.font-style]="last ? 'italic' : 'normal'">{{grupo.nombre}}
          ({{grupo.autos.length}})</ion-item-divider>
        <ion-item *ngFor="let auto of grupo.autos" [@enterAnimation]>{{auto}}</ion-item>
      </ng-template>
    </ion-item-group>
  </ng-container>
</ion-content>