seleccion-fecha {
    .container {
        // background: #EEEEEE;
        // border-radius: 15px !important;
        margin: 4px 0px;
        // box-shadow: 4px 4px 48px -7px rgba(0, 0, 0, 0.75);
        // -webkit-box-shadow: 4px 4px 48px -7px rgba(0, 0, 0, 0.75);
        // -moz-box-shadow: 4px 4px 48px -7px rgba(0, 0, 0, 0.75);
    }

    h4{
        // text-align: center;
        margin: 0;
        padding: 7px 16px;
    }

    .spanLabel{
        text-align: center
    }

    .floatingLabel{
        margin: 0;
    }

    ion-datetime{
        padding: 4px 8px 4px 0px !important;
    }

}
