<ion-content>
  <ion-grid>
    <span>Desde</span>
    <ion-row>
      <ion-col col-8>
        <ion-item no-padding>
          <ion-label floating>Fecha</ion-label>
          <ion-datetime 
          displayFormat="DD/MM/YYYY" 
          pickerFormat="DD/MMM/YYYY" 
          [max]="fechaNow" 
          min="1999-01-01" 
          cancelText="Cancelar"
          doneText="Aceptar" 
          [(ngModel)]="fechaDesde" 
          (ionChange)="fechaDesdeSelect()"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item no-padding>
          <ion-label floating>Hora</ion-label>
          <ion-datetime [disabled]="!fechaDesde" displayFormat="HH:mm" pickerFormat="HH:mm" [max]="horaDesdeMax" min="00:00" cancelText="Cancelar"
          doneText="Aceptar" [(ngModel)]="horaDesde" (ionChange)="horaDesdeSelect()"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <span>Hasta</span>
    <ion-row>
      <ion-col col-8>
        <ion-item no-padding>
          <ion-label floating>Fecha</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MMM/YYYY" [max]="fechaHastaMax" [min]="fechaHastaMin" cancelText="Cancelar"
            doneText="Aceptar" [(ngModel)]="fechaHasta" (ionChange)="fechaHastaSelect()"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item no-padding>
          <ion-label floating>Hora</ion-label>
          <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaHasta" [max]="horaHastaMax" min="00:00"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>