page-home {
    .searchbar {
		margin-top: 20px;
		-webkit-transform: translate3d(0, -141%, 0);
		transition: transform 0.3s;
    }
    .searchbar-input {
        border-radius: 10px !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        height: 4rem !important;
    }
    .searchbar-ios {
        background: none;
    }
    .searchbar-search-icon {
        top: 14px !important;
    }
    page-modal {
        position: absolute;
        width: 100%;
        top: unset;
        height: 174px;
		bottom: 0;
		-webkit-transform: translate3d(0, 72%, 0);
		transition: transform 0.3s;
		.scroll-content {
			border-radius: 10px 10px 0 0 !important;
			background-color: white;
			box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
		}
	}
	
	.slide-in {
		-webkit-transform: translate3d(0, 0, 0);
    }
}