.displayMenu ion-searchbar {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

page-home>ion-content>.scroll-content {
    padding-top: 0 !important;
}

// Material Design Sidemenu
#menu-material {
    .menu-header {
        padding: 15px; // background: linear-gradient(to right, #ffede2 50%, #e9ae7a 100%);
        background: white;
        .name {
            font-weight: 500;
            margin-bottom: 3px;
            color: #004361;
        }
        .e-mail {
            margin-top: 0;
            margin-bottom: 5px;
        }
        img {
          width: 200px;
          margin: 0 auto;
          display: block;
      }
    }
    .user-avatar {
        padding: .5em;
        height: 12vh;
        border-radius: 50%;
    }
    h3,
    .label {
        color: #999;
        font-weight: 400;
    }
    ion-icon {
        color: #777;
    }
}

.labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 12;
    font-weight: bold;
    text-align: center;
    width: auto;
    border: 2px solid black;
    white-space: nowrap;
}

.labels2 {
    color: #FFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 12;
    font-weight: bold;
    text-align: center;
    width: 40px;
}

#menu2 {
    .list-header {
        margin: 11px 0 -7px 0 !important;
        border-top: 0 !important;
    }
    h4 {
        font-size: 2rem;
        font-weight: 500;
        color: black;
    }
    .icon,
    .label {
        margin: 0 !important;
    }
}

.loading-md .loading-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  .spinner-crescent circle {
    stroke: #fbfbfb !important;
    stroke-width: 12px !important;
  }
}