.displayMenu ion-searchbar {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

page-home > ion-content > .scroll-content {
    padding-top: 0 !important;
}