.displayMenu .tabbar {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
     opacity: 0;    
}

.displayMenu ion-searchbar {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
     opacity: 0;    
}

ion-modal {
    top: unset;
    height: 35%;
    bottom: 0;
    z-index: -1 !important;
}