page-error404 {
   ion-row{
      text-align: center;
      color: black;
   }
   ion-grid{
      
      background-color: #e0e0e0 !important;
   }

   ion-content{
      background-color: #e0e0e0 !important;
   }
   h1{
      font-weight: 900;
      font-size: 4em;
   }
   p{
      font-size: 2em;
   }

   .centered {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }

}
