page-error404 {
  .container{
     height: 100vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .errorContainer {
     width: 300px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     ion-icon {
       margin: 0 auto;
       font-size: 150px;
       color: #f25454;
     }
     h3 {
       color: grey;
     }
     a {
       color: #3880ff;
       font-weight: bold;
     }
   }
}