<ion-content padding class="transparent-header">
  <img class="logo" [src]="logoUrl" />
  <div padding>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-input formControlName="usuario" type="text" placeholder="Usuario" autocomplete="off"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Contraseña" autocomplete="off"></ion-input>
      </ion-item>
      <button ion-button block type="submit" color="mobile" class="login-button">Ingresar</button>
    </form>
  </div>
  <!-- <div class="strike">
      <span>OR</span>
    </div>
    <button ion-button block clear (click)="login()" color="light" class="login-button"><ion-icon name="logo-facebook"></ion-icon> Login with Facebook</button> -->
</ion-content>
<!-- <ion-footer>
    <ion-toolbar class="footer">
      <div (click)="goToSignup()">
        <span>Don't have an account? <strong>Sign up here</strong>.</span>
      </div>
    </ion-toolbar>
  </ion-footer> -->